<div class="bg-white p-4 border-t border-gray-300 overflow-x-auto max-h-[200px] overflow-y-auto">
 
    <button id="addWaypoint" class="addWaypoint mb-2 bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition">Thêm mission</button>
    <table id="missionTable" class="min-w-full bg-white border border-gray-300">
        <thead>
            <tr class="bg-gray-200 text-blue-900">
                <th class="py-2 px-3 text-left text-xs font-semibold">Seq</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Frame</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Command</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Current</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Autocontinue</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Param1</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Param2</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Param3</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Param4</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">X (Lat)</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Y (Lng)</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Z (Alt)</th>
                <th class="py-2 px-3 text-left text-xs font-semibold">Action</th>
            </tr>
        </thead>
        <tbody id="missionTableBody" class="text-sm text-gray-700">
            <!-- Rows will be added dynamically by JavaScript -->
        </tbody>
    </table>
</div>
    </div>